personal-training-martial-arts/personal-training-martial-arts/bin/x86/Debug/*
personal-training-martial-arts/personal-training-martial-arts/obj/x86/Debug/*

personal-training-martial-arts/personal-training-martial-artsContent/obj/x86/Debug/*

personal-training-martial-arts.Tests/bin/Debug/*
personal-training-martial-arts.Tests/obj/x86/Debug/*
